html {
    font-family: 'Poppins', system-ui;
    font-weight: 400;
    font-style: normal;
  }

  body {
    background-image: url(./images//coffee\ beans.jpg)
  }

  h1, h2, p {
    text-align: center;
  }

  .menu {
    width: 80%;
    background-color: burlywood;
    margin-left: auto; /*With left and right set to auto, it will center it on the page*/
    margin-right: auto;
  }